html{
    background-color: #fff;
}
.title_wrap_2{
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #192649;
    margin-bottom: 50px;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    background-color: #192649;
    height: 80px;
    line-height: 80px;
}
.h_title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_nav>li{  
    text-align: center;
}
.header_nav>li>a{
    display: block;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 30px;
    font-size: 20px;
}
.h_title>.login{
    display: flex;
    margin-left: 150px;
}
.login>a{  
    display: inline-block;  
    margin: 0 0 0 20px;
    color: white;
}
.pc_none{
    display: none;
}

/************* *footer Section*************************/

.footer_banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.footer_banner>div>img{
    width: 100%;
}
.footer_banner>div{
    margin-top: 50px;
}
.corp_area{
    width: 100%;
    height: 171px;
    background-color: #192649;
    font-weight: bold;
    margin: 50px auto;
    font-size: 16px;
}
.corp_item{
    padding-top: 20px;
    display: flex;
    justify-content:start;
    color: white;
}
.corp_item>li>a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}

.corp_adderess{
    color: white;
}




/**************~~~~~~~아래부턴 모바일 미디어 쿼리~~~~~~**************/


@media only screen and (max-width: 1400px) {
    
  
    .header_nav>li>a{
        font-size: 16px;
    }
    .h_title{
        width: 100%;
        justify-content: flex-end;
    }
    
    .h_title>.header_nav{
        display: none;
    }
    .h_title>.login{
        display: none;
    }
    
    .pc_none{
        display: block;  
        padding-top: 20px;
        /*인라인태그라서 위드헤딧패딩 안 먹어서 (스타일적용이 안 되니까
        스타일 적용 시켜주려고 블록으로 바꿈 */
        /*여백을 가지고 있어도 괜찮으면 인라인 블록으로 주고 
        계산해서 넣어줄거면 블록이 편함 
        지금 내 거는 a태그들이 옆으로 나열 해도 괜찮아서
        인라인 블록을 줘도 된다고 하심*/
    }
    .pc_none>a{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    .title{
        width: 100%
    }   
    .menu_aside{ 
        display: none;
    }
    .main_notice{
        width: 100%;
    }
    .notice2{
        margin: auto; /*박스 왼쪽에서 중간으로 보내줌!*/
    } 
    .footer_banner{
        width: 100%;
    }
    .footer_banner>div>img{
        width: 100%;
    }
    .footer_banner>div{
        margin: 20px;
    }
    .corp_area{
        flex-wrap: nowrap;
        width: 100%;
    }
    .corp_area>.corp_item>li{
        padding-bottom: 5px;
    }
    .corp_area>.corp_item>li{
        font-size: 14px;
    }
    .corp_area>.corp_adderess{
        padding-bottom: 15px;
    }
    .corp_area>.corp_adderess>p{
        font-size: 14px;
    }
    .pc_none img{
        width: 80%;
    }
       



}

@media only screen and (max-width: 800px) {

    .footer_banner{
        width: 100%;
    }
    .footer_banner>div>img{
        width: 100%;
    }
    .footer_banner>div{
        margin: 20px;
    }
    .corp_area{
        flex-wrap: nowrap;
        width: 100%;
    }
    .corp_area{
        flex-wrap: nowrap;
        width: 100%;
    }
    .corp_area>.corp_item>li{
        padding-bottom: 5px;
    }
    .corp_area>.corp_item>li{
        font-size: 14px;
    }
    .corp_area>.corp_adderess{
        padding-bottom: 15px;
    }
    .corp_area>.corp_adderess>p{
        font-size: 14px;
    }
    .pc_none img{
        width: 70%;
    }
       
}